body{
    position: absolute;
    vertical-align: middle;
    text-align: center;
    margin-top: 10%;
    margin-left: 600px;
}

.time{
    font-size: 75px;
}

button {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}
button:hover{
    border: 1px solid;
    padding-top: 5px;
    box-shadow: 5px 10px 18px white;
}

#controls{
    position: absolute;
    margin-left: 65px;
}
